data/derived/*
data/ok_data/*
data/ok_data_2/*
data/raw_data/*
data/trajectory_with_laneid/*
data/road_graph/*
data/lane_node_stats/*
data/lane_node_stats_old/*
plots/*
.pneuma_env/
!data/derived/.gitkeep 
!plots/.gitkeep 
.DS_Store
/data/trajectory_with_laneid
